<h1>Stupid Coaching</h1>

<div id="question">
<h2><%=@question%></h2>
<h2><em>-You</em></h2>
</div>

<div id="answer">
<h2><%=@answer%></h2>
<h2><em>-Your Coach</em></h2>
</div>

<%= link_to("NEW QUESTION", ask_path)%>
